/*The CSS*/
#background {

}

#header {
	box-shadow: inset 3px 4px 5px rgb(50,77,114);
	height: 60px;
	background-color: rgb(10,37,74);
	border-color: black;
	border-radius: 5px;

}

h1 {
	font-family: Futura;
	font-size: 45px;
	text-align: center;
	color: #d9d9d9;
	text-outline: 2px black;
}



#break {
	height: 20px;
}




#main {
	max-height: 600px;
}

#map {
	height: 600px;
	width: 75%;
	display: inline-block;
	padding: 5px;
	border-width: 5px;
	border-color: black;
	float: left;
	border-radius: 5px;
}

#info {
	box-shadow: inset 3px 4px 5px rgb(50,77,114);
	width: 22%;
	height: 600px;
	border-width: 5px;
	border-color: #808080;
	background-color: rgb(10,37,74);
	margin-left: 78%;
	border-radius: 5px;

	font-family: Futura;
	font-size: 14.5px;
	text-align: center;
	color: #d9d9d9;
}

h2 {
	font-family: Futura;
	font-size: 22px;
	text-align: center;
	color: #d9d9d9;
}

a{
	color: #4db8ff;
}

/*legend*/

.legend-control-container {
	background:  #808080;
	border-radius: 5px;
	font-family: Futura;
	font-size: 12px
}

#temporal-legend {
	height: 50px;
	width: 100px;
	border-radius: 2px;
	border-color: #0059b3;
	font-size: 18px;
	text-align: center;
}

#attribute-legend {
	border-color: white;
	height:70px;
	width:100px;
	display: block;
}

#attribute-legend-content {
	position: relative;
}


#break2 {
	height: 20px;
}


/*bottem bar*/

#container {
	height: 60px;
	width: 100%;
	background-color: #d9d9d9;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
}

/*slider*/
#panel {
	height: 38px;
	width: 200px;
	text-align: : center;
	display: : inline-block;
	vertical-align: top;
	line-height: 42px;
	width: 20%;
	float: left;
	background-color: #e6e6e6;
	border-radius: 10px;
}

.range-slider {
	width: 50%;
}

#forward {
	float: right;
	border-radius: 5px;
	
}

#forward:hover {
	background-color: rgb(10,37,74); 
}

#reverse {
	float: left;
	border-radius: 5px;
}

#reverse:hover {
	background-color: rgb(10,37,74);
}


/*police*/
#overlay {
	width: 250px;
	height: 38px;
	margin-left: 30%;
	border-radius: 10px;
	text-align: center;
	font-family: Futura;
	font-size: 15px;
	display: : inline-block;
	vertical-align: top;




}

.push {
	background-image: url("../images/police-icon.png");
	height: 30px;
	width: 33px;
	border-radius: 7px;
	float: top;

}

.push:hover {
	background-image: url("../images/police-icon-hover.png");
	background-color: rgb(10,37,74);
}


/*hospitals*/
#overlay2 {
	width: 150px;
	height: 38px;
	margin-left: 60%;
	border-radius: 10px;
	text-align: center;
	font-family: Futura;
	font-size: 15px;
	display: : inline-block;
	vertical-align: top;



}

.push2 {
	background-image: url("../images/hospital-icon.png");
	height: 35px;
	width: 35px;
	border-radius: 7px;
	float: top;

}

.push2:hover {
	background-image: url("../images/hospital-icon-hover.png");
	background-color: rgb(10,37,74);
}

#break3 {
	height: 30px;
}



/*popup*/
.leaflet-popup-content p {
	margin: 0.2em 0;
}

/*rgb(223,224,254)  rgb(180,180,21) */
